.about {
  h2 {
    margin: 3rem auto;
    width: 70%;
  }
  .about-container {
    margin: 5rem auto;
    width: 80%;
    .row {
      .image {
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .text {
        padding-top: 5rem;
      }
    }
  }
}

// Team
.team {
  h2 {
    text-align: center;
    letter-spacing: 2px;
  }
  .team-container {
    margin: 5rem auto;
    width: 90%;
    .card-deck {
      .card {
        border: none;
      }
    }
  }
}
